input[type=range] {
	-webkit-appearance: none
}

input[type=range]::-webkit-slider-runnable-track {
	border-radius: 10px;
	height: 10px;
	border: 1px solid #000;
	background-color: #ccc;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #000;
	border: 3px solid #0b6b00;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: -5px;
}

.climat {
	position: absolute;
    width: 780px;
    height: 427px;
    display: initial;
    left: 140px;
    top: 265px;
}
.sor{
	position: absolute;
    width: 60%;
    display: block;
    left: 57%;
    border: solid 1px black;
    border-bottom-width: 21px;
    border-color: blue;
    border-top-width: 15px;
    width: 185px;
    border-radius: 16px;
	top: 215px;
}
.grad, output{
	color: blue;;
}